body {
  background: #333e51;
  color: white;
  font-family: cute, sans-serif;
}

h1 {
  font-family: notes, sans-serif;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.user-info {
  color: black;
  button {
    margin: auto;
    font-weight: bold;
  }
}

.results {
  p {
    font-size: 5rem;
  }
}

@font-face {
  font-family: notes;
  src: url("../../..fonts/Cute_Notes.ttf");
}

@font-face {
  font-family: cute;
  src: url("fonts/Cute_Font.ttf");
}
